@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Poppins:wght@200;500;700&family=Roboto:wght@100,300,500&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@100;200;500;700&display=swap');


*,*:after,*:before {
 margin: 0;
 padding: 0;
 font-family: poppins;
 box-sizing: border-box;
 font-weight: 700;
}


a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: cadetblue;
}


.wrapper {
 padding-top: 1rem;
 width: 90%;
 max-width: 750px;
 margin: 0 auto;
}

.wrapper  h1 {
  font-weight: 700;
  letter-spacing: -2px;
  padding: 0 .3rem;
  font-family: 'Space Grotesk', sans-serif;
}

.account {
 margin-top: 1rem;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(13rem,1fr));
 gap: 1rem;
}

.acct {
 border: 2px solid black;
 border-radius: 4px;
 height: 55px;
}

.budget {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-inline: 1rem;
}

.budget p{
 font-family: 'Space Grotesk', sans-serif;
 font-weight: 200;
}

.remain, .spent{
 display: flex;
 justify-content: start;
 align-items: center;
 padding-left: 1rem;
}

.acct p {
  font-family: 'Space Grotesk', sans-serif;;
  font-weight: 200;
}

.budget input {
 height: 30px;
}

.budEdit {
 cursor: pointer;
 padding: .2rem .6rem;
 border: 0;
 outline: 0;
 border: 2px solid #333;
 /* border-radius: 1rem; */
 color: black;
 background: transparent;
 margin-left: 5px;
 height: 30px;
 font-weight: 500;
}

p span {
 background-color: #454545;
 font-weight: 500;
 color: #fff;
 margin-left: .7rem;
 padding: 0 .2rem;
 font-family: 'Space Grotesk', sans-serif;
}


.expensesHeader {
 font-size: 1rem;
 letter-spacing: -1px;
 text-transform: uppercase;
 color: #333;
 font-family: 'Space Grotesk', sans-serif;
 font-weight: 700;
}

.search {
 margin-top: 1rem;
}

.expenseslist {
 list-style: none;
 padding: 0;
}

.expenseslist li {
  display: flex;
  justify-content: space-between;
}

.expenseslist li > * {
  flex: 1 1 700px;
  /* width: 0; */
}

.expenseslist span {
  width: 40px;
}

li {
 color: #454545;
 font-size: 1rem;
 border-bottom: 1px solid #999;
 padding: 1rem 0rem;
 list-style: none;
}

ul span {
 /* background: #333; */
 color: #333;
 height: 25px;
 margin-left: 1rem;
 padding: 0 .2rem;
}

.expenseslist button {
  border: 0;
  outline: 0;
  width: 30px;
  background: none;
}

.expenseslist svg {
  border: 0;
  font-size: 1rem;
  outline: 0;
  cursor: pointer;
}

.formInput {
 margin: 3rem 0;
}


input {
 width: 100%;
 height: 50px;
 border: 0;
 outline: 0;
 border: 1px solid #333;
 margin: .6rem 0;
 padding: 0rem .4rem;
 font-size: .9rem;
 font-weight: 200;
 font-family: 'Space Grotesk', sans-serif;

}


input:focus, input:hover {
 box-shadow: 0 1px 4px rgb(150, 144, 144);
}

form button {
 background: black;
 color: #fff;
 border: 0;
 outline: 0;
 height: 50px;
 width: 20%;
 cursor: pointer;
 border: 1px solid #333;
 font-size: 1rem;
 font-family: 'Space Grotesk', sans-serif;
}

footer {
 text-align: center;
 font-size: .8rem;
 margin-bottom: 1rem;
}

footer p {
  font-weight: 400;
}

footer .chris, .ohis {
  background-color: #454545;
  font-weight: 200;
  color: #fff;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-family: 'Space Grotesk', sans-serif;
}

.small {
  font-family: 'Space Grotesk', sans-serif;
  color: black;
}
